@page "/feature-keys"
@using AccessControl.AdminUI.Models

@inject IDialogService DialogService
@inject IToastService ToastService
@inject NavigationManager Navigation

<PageTitle>Feature Keys</PageTitle>

<h1>Feature Key : Role Permissions</h1>

<FluentStack>
    <FluentButton @onclick="OpenDialogAsync" Appearance="Appearance.Accent">
        Add
    </FluentButton>
    <FluentSpacer />
    <FluentButton @onclick="SubmitChangesAsync" Appearance="Appearance.Accent">
        Submit
    </FluentButton>
    <FluentButton @onclick="DiscardChangesAsync" Appearance="Appearance.Neutral">
        Discard
    </FluentButton>
</FluentStack>
<br />
<br />

<div style="display: table; table-layout: fixed; width: 100%;">
        <FluentDataGrid id="defaultGrid"
                        AutoFit="true"
                        Items=_rowsGrid.AsQueryable()
                        TGridItem=FeatureKeyRolePermissionsModel
                        RowSize="@DataGridRowSize.Medium">
            <PropertyColumn Property="@(p => p.FeatureKey)" Title="Feature Key" Sortable="true" />
            <PropertyColumn Property="@(p => p.RoleName)" Title="Role name" Sortable="true" />
            <TemplateColumn Title="Read">
                <FluentCheckbox @bind-Value="@context!.PermissionRead" />
            </TemplateColumn>
            <TemplateColumn Title="Write">
                <FluentCheckbox @bind-Value="@context!.PermissionWrite" />
            </TemplateColumn>
            <TemplateColumn Title="Execute">
                <FluentCheckbox @bind-Value="@context!.PermissionExecute" />
            </TemplateColumn>
            <TemplateColumn Title="Delete">
                <FluentCheckbox @bind-Value="@context!.PermissionDelete" />
            </TemplateColumn>
            <TemplateColumn Title="">
                <FluentButton IconEnd="@(new Icons.Regular.Size16.Delete())"
                                Appearance=Appearance.Lightweight
                                Title="Delete"
                                @onclick="@(async () => await HandleDeleteAction(context))" />
            </TemplateColumn>
        </FluentDataGrid>
</div>



